<div class="row">
    <div class="col-md-6 col-sm-12 mb-4">
        <div class="card border-left-primary shadow py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    abc
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-12 mb-4">
        <div class="card border-left-primary shadow py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    def
                </div>
            </div>
        </div>
    </div>
</div>